<!DOCTYPE html>
<html lang="ru">
<head>
  {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet">
    <title>{{ title }}</title>
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  {% endblock %}
</head>
<body class="italic text-center">
{% block page %}
  {% block header %}
    {% include '../partials/header.twig' %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
    {% include '../partials/footer.twig' %}
  {% endblock %}
{% endblock %}
<script type="module" src="/src/scripts/index.js"></script>
</body>
</html>
